# dotnet core
bin/
obj/
project.lock.json
NuGetScratch/

api/wwwroot/**
!api/wwwroot/scratch.html
!api/wwwroot/favicon.ico

# node
node_modules/
typings/
npm-debug.log

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

# ops
ops/hosts
ops/config.yml
ops/*.retry

# other
*.js.map

# IDE
.idea/
.vs/

# iOS
# React Native
# Ignore the CocoaPods folder
/ios/Pods/
/ios/Podfile.lock
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace
/ios/*.xcuserstate
/ios/*.xcuserdata
/ios/*/build/
/ios/*.moved-aside

# React Native Debugger
/react-native-debugger*

#specific
/GlamifyiOS/android/