html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .accordion-button:focus {
    outline: none;
    box-shadow: none;
    background-color: #747274;
    color: white;
  }

  .accordion-button:not(.collapsed) {
      background-color: #747274;
      color: white;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: white;
  }

  .explore-btn {
    background-color: #7c90a0; 
    border-color: #7c90a0; 
    color: #fff; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.explore-btn:hover,
.explore-btn:focus, 
.explore-btn:active { 
    background-color: #667482; 
    border-color: #667482; 
    color: #ffffff; 
}

.custom-carousel button {
  background-color: black !important; /* Or any color that fits your design */
}